@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Huetours.Core.Extensions;
@using Vendr.Core;
@{
    var tours = (Tours)Model.Children.FirstOrDefault(x => x.ContentType.Alias.Equals("tours"));
    var gtours = (GroupTours)tours.Children.FirstOrDefault(x => x.ContentType.Alias.Equals("groupTours"));

    var tourItems = gtours.Children<ToursItem>().OrderByDescending(c => c.CreateDate).Take(9);
}

@{
    <section id="showtours">
        <div class="container">
            <div class="row">
                <h2 class="col-md-12 col-sm-12 section-title">
                    <span class="display-block  title-bottom">@tours.PageTitle</span>
                </h2>
            </div>

            <div class="row slider-tours">
                @foreach (var items in tourItems)
                {
                    <div class="card col-sm-4 col-md-3">
                        <div class="card-content news_item">
                            <div class="news_image">
                                <a href="@items.Url()">
                                    <img class="image" src="@(items.ThumbnailImage?.LocalCrops)" alt="@(items.ThumbnailImage?.LocalCrops)" />
                                </a>
                            </div>
                            <div class="news_info">
                                <h2 class="news_title">
                                    <a href="@items.Url()">@Html.Raw(items.PageTitle)</a>
                                </h2>
                                <div class="news_startday">
                                    <p><i class="far fa-calendar-alt"></i>@Umbraco.GetDictionaryValue("Start Day") <span style="font-weight: 600;">@Html.Raw(items.StartDay.ToString("dd/MM/yyyy"))</span></p>
                                </div>
                                <div class="news_startday">
                                    <p><i class="fas fa-sort-numeric-up-alt"></i>@Umbraco.GetDictionaryValue("Number Day") <span style="font-weight: 600;">@Html.Raw(items.HowManyDays)</span></p>
                                </div>
                                <div class="news_startday">
                                    <p><i class="fas fa-user-friends"></i>@Umbraco.GetDictionaryValue("Number Tourist")<span style="font-weight: 600;">@Html.Raw(items.HowManyTourists)</span></p>
                                </div>
                                <div class="news_discount">
                                    @Html.Raw(items.Discount)
                                </div>
                                <div class="news_price">
                                    @Html.Raw(items.CalculatePrice()?.Formatted())
                                </div>
                            </div>
                        </div>
                    </div>}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="news_list text-center">
                        <a href="@gtours.Url()">@Umbraco.GetDictionaryValue("Show All")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
