@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Huetours.Core.Extensions;
@using Vendr.Core;
@{
    var hotel = (Hotel)Model.Children.FirstOrDefault(x => x.ContentType.Alias.Equals("hotel"));
    var hotelItems = hotel.Children<HotelItem>().OrderByDescending(c => c.CreateDate).Take(9);
}

@{
    <section id="showtours">
        <div class="container">
            <div class="row">
                <h2 class="col-md-12 col-sm-12 section-title">
                    <span class="display-block  title-bottom">@hotel.PageTitle</span>
                </h2>
            </div>

            <div class="row slider-tours">
                @foreach (var items in hotelItems)
                {
                    <div class="card col-sm-4 col-md-3">
                        <div class="card-content news_item">
                            <div class="news_image">
                                <a href="@items.Url()">
                                    <img class="image" src="@(items.ThumbnailImage?.LocalCrops)" alt="@(items.ThumbnailImage?.LocalCrops)" />
                                </a>
                            </div>
                            <div class="news_info">
                                <div class="news_startday" style="color: #b93c00; margin-bottom: -15px; ">
                                    <p>@items.Stars</p>
                                </div>
                                <h2 class="news_title">
                                    <a href="@items.Url()">@Html.Raw(items.PageTitle)</a>
                                </h2>
                                <div class="news_startday">
                                    <p><i class="fas fa-book"></i>@Umbraco.GetDictionaryValue("Order") <span style="font-weight: 600;">@Html.Raw(items.Order)</span></p>
                                </div>
                                <div class="news_discount" style="text-decoration:none; font-size: 15px;">
                                    <p><span>@Umbraco.GetDictionaryValue("Discount"):</span> @Html.Raw(items.Discount)</p>
                                </div>
                                <div class="news_price">
                                    <p><span style="color: black; font-size: small; font-weight: normal;">@Umbraco.GetDictionaryValue("From")</span> @Html.Raw(items.CalculatePrice()?.Formatted())</p>
                                </div>
                            </div>
                        </div>
                    </div>}
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="news_list text-center">
                        <a href="@hotel.Url()">@Umbraco.GetDictionaryValue("Show All")</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
}