@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.BachMaPark>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
}

<section class="breadcrumb">
    <img style="width: 100%" src="@Model.BackgroundImage.LocalCrops" alt="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb">
                    <p><a href="@home.Url()">@home.PageTitle</a><span> / </span><a style="color: #FFCC66">@Model.PageTitle</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="blog_detail">
                    <h2 class="name_blog">
                        @Model.PageTitle
                    </h2>
                    <div class="time_create">@Model.CreateDate.ToString("MMM dd, yyyy")</div>
                    <div class="content_detail">
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>