@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Contact>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
    var contact = (Contact)home.Children.FirstOrDefault(x => x.ContentType.Alias.Equals("contact"));
}

<section id="contact" class="wow fadeIn border-bottom border-transperent-white-light TN-contact">
    <img src="@contact.BannerImage.LocalCrops" alt=" " />
    <div class="container">
        <div class="section-title">
            <div class="contact-title title-bottom">
                <h2>@contact.PageTitle</h2>
            </div>
        </div>
        <div class="row">

            <div class="col-12 col-md-6 col-lg-7 form-contact">
                @*<div class="alert alert-success send-message-success" role="alert">
                    @Umbraco.GetDictionaryValue("Successed")
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>*@
                @{ Html.RenderAction("RenderContact", "ContactSurface"); }

            </div>
            
            <div class="col-12 col-md-6 col-lg-5 icon-contact">
                <div>
                    <h2>Quý khách có thể liên hệ, góp ý với chúng tôi qua:</h2>
                </div>
                <div class="icon-contact-child">
                    <img src="@(contact.GmailImage?.LocalCrops)" alt="" />
                    <a href="mailto:@contact.GmailTextLinks.Url"><span>@contact.GmailTextLinks.Name</span></a>
                </div>
                <div class="icon-contact-child">
                    <img src="@(contact.PhoneImage?.LocalCrops)" alt="" />
                    <a href="tel:@contact.PhoneTextLinks.Url"><span>@contact.PhoneTextLinks.Name</span></a>
                </div>
                <div>
                    <p>
                        <img src="~/images/undraw-contact.svg" alt="" style="width:100%; height:auto" />
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>