@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FAqs>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
    var faq = (FAqs)home.Children.FirstOrDefault(c => c.ContentType.Alias == "fAQs");

}

<section class="breadcrumb_faq">
    <img style="width: 100%" src="@(Model.BannerImage?.LocalCrops)" alt="">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <p><a href="@home.Url()">@home.PageTitle</a><span> / </span><a style="color: #FFCC66">@Model.PageTitle</a></p>
            </div>
            <div class="col-12 col-md-12">
                <div class="box_content">
                    <h1 class="text_title">
                        @faq.Content
                    </h1>
                </div>
            </div>
        </div>
    </div>
    
</section>

<section id="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-mm-12">
                <div id="@Model.Name.MakePluralName()">
                    <div class="about_content">
                        <h2 class="about_title">@(Model.PageTitle)</h2>
                        <div class="row">
                            <div class="col-md-12 col-mm-12">
                                @if (Model.Children != null)
                                {
                                    foreach (FAqsItem faqItem in Model.Children)
                                    {
                                        <h3 class="faq_title_section">@faqItem.FAqtitle</h3>
                                        <div class="list_faqs">
                                            @foreach (var faqChildItem in faqItem.FAqitem)
                                            {<div class="item_faq">
                                                    <div class="title_faq">
                                                        <sapn>@faqChildItem.PageTitle</sapn>
                                                        <span class="icon_faq">
                                                            <img class="close" src="~/images/icon_close_faq.svg" alt="">
                                                            <img class="open" src="~/images/icon_plus_db.svg" alt="">
                                                        </span>
                                                    </div>
                                                    <div class="content">
                                                        @Html.Raw(faqChildItem.Content)
                                                    </div>
                                                </div>

                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>