@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
    var search = (SearchingResult)home.Children.FirstOrDefault(c => c.ContentType.Alias == "searchingResult");
}

<section id="banner_home">
    <div class="home_bannerimage">
        @foreach (var item in home.BannerImage)
        {
            <div class="slick-slider">
                <img src="@(item.LocalCrops)" alt="">
            </div>
            }
    </div>
    <div class="box_content">
        @Html.Raw(Model.Content)

        <form action="@search.Url()" class="home_searching">
            <i class="fas fa-search"></i>
            <input type="text" name="Query" placeholder="@Umbraco.GetDictionaryValue("Searching")" />
            <button class="btn btn-home_searching"><span>@Umbraco.GetDictionaryValue("Search")</span></button>
        </form>
    </div>
</section>


<section id="banner_qc">
    <div class="container">
        <div class="banner_title">
            <h2>@home.AdvertisementTitle</h2>
        </div>
        <div class="banner_advertisement">
            @{
                foreach (var ads in home.AdvertisementImage)
                {
                    <div class="slick-slider">
                        <img src="@(ads.LocalCrops)" alt="" />
                    </div>
                }
            }
        </div>
    </div>
</section>

<section id="famous_place">
    <div class="famous_place-title">
        <h2>@Model.FamousPlaceTitle</h2>
        <h6 style="font-weight:normal; text-align:center">@Umbraco.GetDictionaryValue("Famous Place")</h6>
    </div>
    <div class="container-fluid">
        <div class="row">
            @if (Model.FamousPlaceList != null)
            {
                foreach (var famous in Model.FamousPlaceList)
                {
                    <div class="col-md-2">
                        <div class="famous_place-item">
                            <div class="famous_place-item_img">
                                <a href="@(famous.FamousPlaceLink?.Url)">
                                    <img src="@(famous.FamousPlaceImage?.LocalCrops)" alt="">
                                </a>
                            </div>
                            <h3 class="famous_place-item_title">
                                <a href="@(famous.FamousPlaceLink?.Url)">@famous.FamousPlaceText</a>
                            </h3>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</section>

@Html.Partial("~/Views/Partials/ShowTours.cshtml")

@Html.Partial("~/Views/Partials/ShowHotel.cshtml")

@Html.Partial("~/Views/Partials/ShowNews.cshtml")

@if (!string.IsNullOrEmpty(Model.PartnersTitle))
{
    <section class="partners" style="background-color: #eceff3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="partner_sub_title">@Model.PartnersTitle</h3>
                </div>
                <div class="col-12">
                    <div class="partners_item">
                        <div class="row list_partner align-items-center">
                            @foreach (var partner in Model.PartnersImage)
                            {
                                <div class="col-2 item_partner text-center">
                                    <img src="@(partner.LocalCrops)" alt="partner">
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}