@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Hotel>
@using ContentModels = Umbraco.Web.PublishedModels;
@using Huetours.Core.Extensions;
@using Vendr.Core;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
    var numberOfNews = (int)Model.HowManyHotelShouldBeShown;
    var newsPosts = Model.Children.OrderByDescending(c => c.CreateDate).ToList();
    var pageCount = (int)Math.Ceiling((double)newsPosts.Count / numberOfNews);
    //gets the page from the querystring and sets it to one if it is out of range
    var page = 1;
    if (!string.IsNullOrEmpty(Request.QueryString["page"]))
    {
        int.TryParse(Request.QueryString["page"], out page);
        if (page <= 0 || page > pageCount)
        {
            page = 1;
        }
    }
    //Gets the blogposts for the current page
    var pagedNews = newsPosts.Skip((page - 1) * numberOfNews).Take(numberOfNews).ToList();

    var faqItems = Model.Children<FAqsItem>();
}

<section id="news">
    <img style="width: 100%" src="@(Model.BackgroundImage?.LocalCrops)" alt="">
    <div class="box_content">
        @Html.Raw(Model.Content)
    </div>
</section>

<section id="showtours">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div>
                    <h1>@Model.PageTitle</h1>
                </div>
                <div class="row">
                    @{
                        if (Model.Children != null)
                        {
                            foreach (HotelItem items in pagedNews)
                            {
                                <div class="col-md-3 col-sm-6">
                                    <div class="card item-card">
                                        <div class="card-content news_item">
                                            <div class="news_image">
                                                <a href="@items.Url()">
                                                    <img class="image" src="@(items.ThumbnailImage?.LocalCrops)" alt="@(items.ThumbnailImage?.LocalCrops)" />
                                                </a>
                                            </div>
                                            <div class="news_info">
                                                <div class="news_startday" style="color: #b93c00; margin-bottom: -15px; ">
                                                    <p>@items.Stars</p>
                                                </div>
                                                <h2 class="news_title">
                                                    <a href="@items.Url()">@Html.Raw(items.PageTitle)</a>
                                                </h2>
                                                <div class="news_startday">
                                                    <p><i class="fas fa-book"></i>@Umbraco.GetDictionaryValue("Order") <span style="font-weight: 600;">@Html.Raw(items.Order)</span></p>
                                                </div>
                                                <div class="news_discount" style="text-decoration:none; font-size: 15px;">
                                                    <p><span>@Umbraco.GetDictionaryValue("Discount"):</span> @Html.Raw(items.Discount)</p>
                                                </div>
                                                <div class="news_price">
                                                    <p><span style="color: black; font-size: small; font-weight: normal;">@Umbraco.GetDictionaryValue("From")</span> @Html.Raw(items.CalculatePrice()?.Formatted())</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }

                    }
                </div>
            </div>

            @if (newsPosts.Count > numberOfNews)
            {
                <div class="col-md-12 col-mm-12">
                    <nav id="box_pagination">
                        <ul class="pagination">
                            @if (page <= 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="javascript:;">@Umbraco.GetDictionaryValue("Prev")</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@(Model.Url() + "?page=" + (page - 1))">@Umbraco.GetDictionaryValue("Prev")</a>
                                </li>
                            }
                            @for (int i = 1; i <= pageCount; i++)
                            {
                                <li class="page-item @(page == i ? "active" : null)">
                                    <a class="page-link" href="@(page == i ? "javascript:;":Model.Url() + "?page=" + i )">@i</a>
                                </li>
                            }
                            @if (page == pageCount)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="javascript:;">@Umbraco.GetDictionaryValue("Next")</a>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@(Model.Url() + "?page=" + (page + 1))">@Umbraco.GetDictionaryValue("Next")</a>
                                </li>
                            }
                        </ul>
                    </nav>
                </div>
            }
        </div>
    </div>
</section>

<section id="about_us">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-mm-12">
                <div id="@Model.Name.MakePluralName()">
                    <div class="about_content">
                        <div class="row">
                            <div class="col-md-7">

                                @foreach (var faqItem in faqItems)
                                {
                                    <h2 class="faq_title_section">@faqItem.FAqtitle</h2>
                                    <div class="list_faqs">
                                        @foreach (var faqChildItem in faqItem.FAqitem)
                                        {<div class="item_faq">
                                                <div class="title_faq">
                                                    <sapn>@faqChildItem.PageTitle</sapn>
                                                    <span class="icon_faq">
                                                        <img class="close" src="~/images/icon_close_faq.svg" alt="">
                                                        <img class="open" src="~/images/icon_plus_db.svg" alt="">
                                                    </span>
                                                </div>
                                                <div class="content">
                                                    @Html.Raw(faqChildItem.Content)
                                                </div>
                                            </div>

                                        }
                                    </div>
                                }

                            </div>
                            <div class="col-md-5">
                                <div>
                                    <img src="@Model.FAqsImage.LocalCrops" alt=" " />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>