@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.NewsItem>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
    Layout = "master.cshtml";
    var home = (Home)Model.Root();
}

<section class="breadcrumb">
    @*<img class="breadcrumb_background" src="@bgrImage" alt="">*@
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="breadcrumb_content">
                    <ul class="breadcrumb_list">
                        <li>
                            <a href="/">@home.PageTitle</a>
                        </li>
                        <li>
                            <a href="@Model.Parent.Url()">@(Model.Parent.Value<string>("pageTitle"))</a>
                        </li>
                    </ul>
                    <h3 class="breadcrumb_title">@Model.PageTitle</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="blog_page">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="blog_detail">
                    <h2 class="name_blog">
                        @Model.PageTitle
                    </h2>
                    <div class="time_create">@Model.CreateDate.ToString("MMM dd, yyyy")</div>
                    <div class="content_detail">
                        <h2>@Model.SubPageTitle</h2>
                        @Html.Raw(Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
